
#App {
    height: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 10vh;
}
#card {
  margin-top: 0;
  width: 500px;
  background-color: #E8E8EA !important;
}
#timer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#timer span{
  font-size: 4em;
}
#slide {
  font-size: 2em;
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sessionForm, #breakForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
}
.controls {
  display : flex !important;
  justify-content: space-between !important;
  height: 36px !important;
  align-items: center !important;
}
.control-button {
  width: 36px !important;
  height: 36px !important;
  min-width: 36px !important;
  min-height: 36px !important;
}
.controlbox {
  height: 36px;
  display: inline-flex;
  justify-content: flex-end !important;
  width: 300px;
}
.slider-wrapper {
  background-color: #E8E8EA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 36px;
  margin: 0 0 !important;
}
.slider {
  width: 80%;
}
.slider>div {
  margin: 0 !important;
  width: 300px;
  height: 36px;
}
.flipclock-label {
  display: none !important;
}
@media screen
  and (max-device-width: 414px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #card {
    width: 95vw;
  }
  #content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-width: 320px;
      width: 100%;
      margin: 0;
      margin-top: 2vh;
  }
  .slider {
    width: 80%;
  }
  .slider-wrapper {
    width: 80px;
  }
  .slider>div {
    width: 80px;
  }
  .flip, .play {
    width: 50px !important;
  }
  #slide {
    font-size: 1.5em;
    width: 95vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
