
#App {
    height: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 10vh;
}
#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 500px;
  background-color: #E8E8EA !important;
}
#title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#status-buttons {
  display: flex;
  justify-content: center;
  -webkit-transition: height 2s, transform 2s;
  transition: height 2s, transform 2s;
}
#status-buttons p {
  text-align: center;
}
#game {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 370px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen
  and (max-device-width: 414px)
  and (-webkit-min-device-pixel-ratio: 2) {
}
